<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>トークン発行 - Board</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar bg-light">
            <a class="navbar-brand" href="/index/">Board</a>
        </nav>
        <div class="container">
            <p>
                <%- message %>
            </p>
        </div>
    </body>
</html>